<launch> 
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager" />

  <node pkg="nodelet" type="nodelet" name="pointcloud_throttle" args="load pointcloud_to_laserscan/CloudThrottle openni_manager">
    <param name="max_rate" value="100"/>
    <remap from="cloud_in" to="/camera/depth/points" />
    <remap from="cloud_out" to="cloud_throttled" />
  </node>

  <node pkg="nodelet" type="nodelet" name="kinect_to_laser" args="load pointcloud_to_laserscan/CloudToScan openni_manager" respawn="true">
    <param name="output_frame_id" value="/camera_depth_frame"/>
    <param name="max_height" value="1.5"/>
    <param name="min_height" value="-0.5"/>
    <param name="range_min" value="0.0"/>
    <param name="range_max" value="4.0"/>
    <param name="scan_time" value="0.2"/>
    <remap from="cloud" to="/cloud_throttled"/>
    <remap from="scan" to="kinect_to_laser_scan" />
  </node>

</launch>
