<launch>

  <!-- kinect launch --> 
  <include file="$(find openni_launch)/launch/openni.launch" respawn="true" />

  <!-- kinect tracker -->
  <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" respawn="true" output="screen" />

  <!-- kinect to laser scan launch -->
  <include file="$(find rocs_robot)/launch/kinect_to_laser_scan.launch" respawn="true" />

  <!-- transforms between kinect and base_link -->
  <node pkg="tf" type="static_transform_publisher" name="base_camera_link" args="0.225 0 1.0 0 0 0 /base_link /openni_camera 100"/> 
  <node pkg="tf" type="static_transform_publisher" name="camera_frame_link" args="0 0 0 0 0 0 /openni_camera /openni_depth_frame 100"/> 

<!--  <node pkg="tf" type="static_transform_publisher" name="camera_depth_frame_link" args="0.05 0 0 0 0 0 /openni_camera /camera_depth_frame 100"/>  -->

  <node pkg="tf" type="static_transform_publisher" name="camera_depth_frame_link" args="0.05 0 0 0 0 0 /openni_camera /camera_link 100"/> 

</launch>
