<?xml version="1.0"?>
<launch>
	<!--<node name="ptu" pkg="ptu46" type="ptu46" output="screen">
		
	</node> -->
	<node name ="ptu_move" pkg="rocs_robot" type="ptu.py" output="screen" args="0 -45"/>
	<include file="$(find ptu46)/ptu46_actions.launch"/>


	
	<!--<node name="ptu_action_server" pkg="ptu46" type="ptu_action_server.py" output="screen">
		<remap from="cmd" to="/ptu/cmd"/>
		<remap from="state" to="/ptu/state"/>
	</node>-->
	
		
	
	
</launch>
